In [73]:
import polars as pl
import pandas as pd
import numpy as np

In [74]:
ratings = pl.read_csv('data/ratings.csv')
movies = pd.read_csv('data/movies.csv')
movies.head(6)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller

In [75]:
'''Все жанры, представленные в описании датасета'''
genres = ['Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy',
          'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
          'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 
          'War', 'Western']
genres_dict = {i:[] for i in genres}

In [76]:
'''Применеие OneHotEncoder к столбцу genres'''
for line in movies['genres']:
    for genre in genres_dict.keys():
        genres_dict[genre].append(int(genre in line))

for genre in genres_dict.keys():
    movies[genre] = genres_dict[genre]
movies.drop(['genres'], axis=1, inplace=True) #убирается старая колонна genres за ненадобностью
movies.head()

,movieId,title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
def Embedding():
    pass